<div style="overflow: hidden">
  <div style="z-index: 2; position: relative">
    <router-outlet style="z-index: 2; position: relative" />
  </div>
  <svg
    style="position: absolute; top: 0px; z-index: 1; transform: scale(1.5)"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1000 100"
    fill="#fff"
  >
    <path
      d="M0 0v4c154 96 190 17.9 300 17.9 92 0 92 78.1 200 78.1s108-78.2 200-78.2c110 0 146 78.2 300-17.8V0H0Z"
    ></path>
  </svg>

  <svg  style="position: absolute; bottom: 0px; z-index: 1; transform: scale(1,-1)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" fill="#fff"><path d="M0 0v90.2C49.7 99.9 105 82 160 65c75.5-23.3 145.5-22.4 222-3 63 16 119 14 173-8 79.5-32.4 156.2-27.6 240-10 82.6 17.4 143-1 205-31.7V0H0Z"></path></svg>
</div>
