.button-class{
  
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.button-class:hover{
    background-color: #242331;
}
.client-container{
    box-shadow: 5px 6px 0px 0px #4e4468;
    border: 1px solid #5b507a;
    transition: .5s all;
    background: #5B507A;
}
.client-container:hover{
    box-shadow: none;
    transition: .5s all;
    transform: translate(5px, 6px);
    background: #4e4468;
    cursor: pointer;
}

.bg-connection{
    background: #00D9C0;
            /* color: white;    box-shadow: 4px 6px 0px 1px #009b88; */
            /* border: 3px solid #009b88; */
}

.btn-connection{
    transition: .3s all;
    box-shadow: 1px 4px 0px 1px #006b5e;
}

.btn-connection:hover{
    box-shadow: none;
    transition: .3s all;
    transform: translate(1px, 4px);
 }

.bg-close {
    background: #C5283D;
            color: white;    
            /* box-shadow:4px 6px 0px 1px #851726; */
            /* border: 3px solid #C5283D; */
}
/* Estilo para navegadores basados en WebKit (Chrome, Safari) */
.scrollContainer {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.scrollContainer::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

video{
   border:none;
}

.video-container {
  position: relative;
  width: 100%; /* Ocupa todo el ancho disponible del contenedor padre */
  padding-top: 100%; /* Proporción 1:1 para mantener el contenedor cuadrado */
  overflow: hidden; /* Asegura que el contenido no se desborde */
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%; /* Hace que el video sea redondo */
  box-shadow: 1px 1px 8px 1px #484848;
}



  .progress-container {
    width: 20%;
    height: 10px;
    /* background: #ddd; */
    border-radius: 10px;
    margin-top: 1rem;
  }
  
  .progress-bar {
    height: 100%;
    width: 0%;
    background: #4caf50;
    border-radius: 10px;
  }
  